.banniere-blanche-textes {
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Centre verticalement tous les blocs */
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 0 0 100px;
    box-sizing: border-box;
}